<table
  border="1"
  cellpadding="4"
  cellspacing="0"
  style="width: 100%; border-collapse: collapse; font-family: Arial, sans-serif; margin-top: -1px;"
>
  <tr style="background: #f9f9f9">
    <td style="width: 50%"><b>Employee Name:</b> {{USER}}</td>
    <td style="width: 50%"><b>Date and Time:</b> {{DATE}}</td>
  </tr>
  <tr>
    <td
      colspan="2"
      style="padding: 5px; word-wrap: break-word; word-break: break-word; overflow-wrap: break-word;"
    >
      {{COMMENT_TEXT}}
    </td>
  </tr>
  <tr>
    <td><b>Role:</b> {{STAGE}}</td>
    <td><b>Action Taken:</b> {{Actiontaken}}</td>
  </tr>
</table>
