<tr style="background: #f9f9f9">
  <td style="width: 50%"><b>Employee Name:</b> {{USER}}</td>
  <td style="width: 50%" colspan="2"><b>Date and Time:</b> {{DATE}}</td>
</tr>
<tr>
  <td
    colspan="3"
    style="
      padding: 5px;
      word-wrap: break-word;
      word-break: break-all;
      overflow-wrap: break-word;
      white-space: pre-wrap;
    "
  >
    {{COMMENT_TEXT}}
  </td>
</tr>
<tr style="border-bottom: 2px solid #999">
  <td><b>Role:</b> {{STAGE}}</td>
  <td><b>Action Taken:</b> {{Actiontaken}}</td>
  <td></td>
</tr>
